opencv
onnxruntime
onnx
pytorch
torchvision
YOLOX
insightface
yolov5
TFace
Ultra-Light-Fast-Generic-Face-Detector-1MB
headpose-fsanet-pytorch
pfld_106_face_landmarks
SSR_Net_Pytorch
colorization
SUB_PIXEL_CNN
onnx/models
YOLOv4-pytorch
facenet-pytorch
face.evoLVe.PyTorch
center-loss.pytorch
sphereface_pytorch
DREAM
MobileFaceNet_Pytorch
cavaface.pytorch
CurricularFace
face-emotion-recognition
face_recognition.pytorch
PFLD-pytorch
pytorch_face_landmark
FaceLandmark1000
Pytorch_Retinaface
FaceBoxes
lite.ai