vgg_ilsvrc_16_age_chalearn_iccv2015.onnx
vgg_ilsvrc_16_age_imdb_wiki.onnx
vgg_ilsvrc_16_gender_imdb_wiki.onnx
arcfaceresnet100-8.onnx
eccv16-colorizer.onnx
siggraph17-colorizer.onnx
yolov5l.onnx
yolov5m.onnx
yolov5x.onnx
yolov3-10.onnx
tiny-yolov3-11.onnx
voc-mobilenetv2-yolov4-416.onnx
voc-mobilenetv2-yolov4-640.onnx
shufflenet-v2-10.onnx
efficientnet-lite4-11.onnx
ssd-10.onnx
ssd_mobilenet_v1_10.onnx
deeplabv3_resnet101_coco.onnx
densenet121.onnx
fcn_resnet101.onnx
ghostnet.onnx
hardnet.onnx
ibnnet.onnx
ibnnet18.onnx
mobilenetv2.onnx
resnet18.onnx
resnext50.onnx
*glint360k*
*ms1mv3*
facenet_casia-webface_resnet.onnx
facenet_vggface2_resnet.onnx
focal-arcface-bh-ir50-asia.onnx
focal-arcface-ms1m-ir50-epoch63.onnx
focal-arcface-ms1m-ir50-epoch120.onnx
focal-arcface-ms1m-ir152.onnx
Tencent_Cifp_BUPT_Balancedface_IR_34.onnx
Tencent_CurricularFace_Backbone.onnx
CenterLossFace_epoch_100.onnx
sphere20a_20171020.onnx
dream_cfp_res50_end2end.onnx
dream_cfp_res50_naive.onnx
dream_ijba_res18_end2end.onnx
dream_ijba_res18_naive.onnx
MobileFaceNet_Pytorch_068.onnx
cavaface_GhostNet_x1.3_Arcface_Epoch_24.onnx
cavaface_IR_SE_100_Combined_Epoch_24.onnx
yolox_x.onnx
yolox_l.onnx
yolox_m.onnx
yolox_s.onnx
face_recognition.pytorch_Mobilenet_se_focal_121000.onnx
*face-emotion-recognition*
PFLD-pytorch-pfld.onnx