vgg_ilsvrc_16_age_chalearn_iccv2015.onnx
vgg_ilsvrc_16_age_imdb_wiki.onnx
vgg_ilsvrc_16_gender_imdb_wiki.onnx
arcfaceresnet100-8.onnx
eccv16-colorizer.onnx
siggraph17-colorizer.onnx
yolov5l.onnx
yolov5m.onnx
yolov5x.onnx
yolov3-10.onnx
tiny-yolov3-11.onnx
voc-mobilenetv2-yolov4-416.onnx
voc-mobilenetv2-yolov4-640.onnx
shufflenet-v2-10.onnx
efficientnet-lite4-11.onnx
ssd-10.onnx
ssd_mobilenet_v1_10.onnx
deeplabv3_resnet101_coco.onnx
densenet121.onnx
fcn_resnet101.onnx
ghostnet.onnx
