test_ortcv_eccv16_colorizer_one_piece_0.jpg
test_ortcv_siggraph17_colorizer_one_piece_0.jpg
*onnx*
*ortcv*
test_lite_emotion.jpg
test_lite_pfld98.jpg
test_lite_pfld68.jpg
test_lite_mobilenetv2_68.jpg
test_lite_mobilenetv2_se_68.jpg
test_lite_retinaface*
test_lite_faceboxes*
test_lite_yolor*
test_lite_tiny_yolov4*
test_lite_scaled_yolov4*